body{
    background:linear-gradient(lightblue, rgb(241, 90, 90), rgb(255, 107, 255) );
}
ul{
    list-style: none;
    top: 0 ;
    position:fixed;
    z-index: 150;
    cursor: pointer;
}
li{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 15px;

    float: left;
}
H1{
    font-family: 'Babylonica', cursive;
}